! URxvt.font:xft:Monospace:size=12
! URxvt.font:xft:Terminus:size=12
Rxvt.font:xft:Roboto Mono:size=12
! URxvt.letterSpace: -4
URxvt.scrollBar: false
! URxvt.transparent: true
! URxvt.blurRadius: 50
URxvt.cursorColor: #FFFFFF
! URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.internalBorder: 8
URxvt.geometry: 50x25

! Set depth to make transparency work.
URxvt*depth: 32

! Fonts
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       120

!
! lovelace
!

! *background:	#1D1F28
! *foreground:	#FDFDFD
! !*cursorColor:	#C574DD
! *color0:	#282A36
! *color1:	#F37F97
! *color2:	#5ADECD
! *color3:	#F2A272
! *color4:	#8897F4
! *color5:	#C574DD
! *color6:	#79E6F3
! *color7:	#FDFDFD
! *color8:	#414458
! *color9:	#FF4971
! *color10:	#18E3C8
! *color11:	#FF8037
! *color12:	#556FFF
! *color13:	#B043D1
! *color14:	#3FDCEE
! *color15:	#BEBEC1

!
! gruvbox
!

! hard contrast:
! *background: #1d2021
! medium contrast:
*background: #282828
! soft contrast:
! *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
