Xft.dpi: 144

URxvt.font:xft:monospace:size=10
!URxvt.font:xft:terminus-bold:size=14:style=bold
URxvt.scrollBar: false
URxvt.internalBorder: 16
URxvt.geometry: 80x35

*.foreground:   #C0C0C0
*.background:   #101010
! black/dark-gray
*.color0:       #101010
*.color8:       #454545
! red/orange
*.color1:       #EFA6A2
*.color9:       #E0AF85
! green/aquamarine
*.color2:       #80C990
*.color10:      #5ACCAF
! amber/yellow
*.color3:       #A69460
*.color11:      #C8C874
! blue/violet
*.color4:       #A3B8EF
*.color12:      #CCACED
! magenta/rose
*.color5:       #E6A3DC
*.color13:      #F2A1C2
! cyan/azure
*.color6:       #50CACD
*.color14:      #74C3E4
! gray/white
*.color7:       #808080
*.color15:      #C0C0C0

! Dracula
!*foreground: #F8F8F2
!*background: #282A36
!*color0:     #000000
!*color8:     #4D4D4D
!*color1:     #FF5555
!*color9:     #FF6E67
!*color2:     #50FA7B
!*color10:    #5AF78E
!*color3:     #F1FA8C
!*color11:    #F4F99D
!*color4:     #BD93F9
!*color12:    #CAA9FA
!*color5:     #FF79C6
!*color13:    #FF92D0
!*color6:     #8BE9FD
!*color14:    #9AEDFE
!*color7:     #BFBFBF
!*color15:    #E6E6E6

! Hmm
!*foreground: #000000
!*background: #ffffff
!*color0:     #888888
!*color8:     #888888
!*color1:     #888888
!*color9:     #888888
!*color2:     #888888
!*color10:    #888888
!*color3:     #888888
!*color11:    #888888
!*color4:     #888888
!*color12:    #888888
!*color5:     #888888
!*color13:    #888888
!*color6:     #888888
!*color14:    #888888
!*color7:     #888888
!*color15:    #888888

!! Pure-edit
!*foreground: #ffffff
!!*background: #12151a
!*background: #111111
!*color0:     #161720
!*color8:     #2B323E
!*color1:     #f0185a
!*color9:     #ff4551
!*color2:     #12e689
!*color10:    #3aff93
!*color3:     #ffa463
!*color11:    #ffdd74
!*color4:     #02a4fc
!*color12:    #34b0fd
!*color5:     #c00eef
!*color13:    #ef5aea
!*color6:     #26c5ff
!*color14:    #26c5ff
!*color7:     #aab5c6
!*color15:    #d6e5fb

! Pure
!*foreground: #d6e5fb
!*background: #12151a
!*color0:     #161720
!*color8:     #2B323E
!*color1:     #f0185a
!*color9:     #ff4551
!*color2:     #12e689
!*color10:    #3aff93
!*color3:     #ffa463
!*color11:    #ffdd74
!*color4:     #02a4fc
!*color12:    #34b0fd
!*color5:     #c00eef
!*color13:    #ef5aea
!*color6:     #26c5ff
!*color14:    #26c5ff
!*color7:     #aab5c6
!*color15:    #d6e5fb

! Grayscale
!*foreground:   #000000
!*background:   #f7f7f7
!*cursorColor:  #000000
!*color0:       #101010
!*color8:       #525252
!*color1:       #7c7c7c
!*color9:       #7c7c7c
!*color2:       #8e8e8e
!*color10:      #8e8e8e
!*color3:       #a0a0a0
!*color11:      #a0a0a0
!*color4:       #686868
!*color12:      #686868
!*color5:       #747474
!*color13:      #747474
!*color6:       #868686
!*color14:      #868686
!*color7:       #b9b9b9
!*color15:      #f7f7f7
